# OpenAI
OPENAI_API_KEY=<secret_key>

# Pinecone
PINECONE_INDEX_NAME=<string_name>
PINECONE_API_KEY=<secret_key>
PINECONE_HOST=<url>

# Supabase
SUPABASE_URL=<url>
SUPABASE_KEY=<secret_key>
# use service key for supabase and go to edit table and expose the table.

# GitHub
GITHUB_BASE_URL=https://api.github.com/users/YOUR_GITHUB_USERNAME/repos


STREAM_DELAY=<number>
DUMMY_HEALTH_CHECK_BOT_ID = <string_uuid>